@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    /* background-color: rgba(255, 99, 71, 0.2); */
background-image: url('/image/logo.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    background-color: #777;
    justify-content:space-between;
    display: flex;
    z-index: 90;
    align-items: center;

}
footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
.navication .a{
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
}
.navication .a::after{
    content: '';
    position: absolute;



}
.navication .btnlogin-popup{
    width: 130px;
    height: 30px;
    border: 3px solid white;
    background: transparent;
    border-radius: 6px;
    outline: none;
    font-weight: 500;
    transition: .5s;
    font-size: 1.1em;
    margin-left: 30px;
    cursor: pointer;


}
.navication .btnlogin-popup:hover{
    background: white;
    color: black;

}
.login{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 280px;
    color: aliceblue;
    font-size: 25px;
    
    
}

.button1{
    background-color: blue;
    border: none;
    padding: 10px 40px;
    color: aliceblue;
    display: inline-block; 
    text-decoration: none;
    margin: 6px 2px;
    font-size: 20px;
}
.button2{
    background-color: blue;
    border: none;
    padding: 10px 40px;
    color: aliceblue;
    display: inline-block; 
    text-decoration: none;
    margin: 6px 1px;
    font-size: 20px;
}